.MainBoxofHeder {
  background-color: #120e43;
}

.nav-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  max-width: 1000px;
  margin: auto;
}
.headerLink {
  text-decoration: none;
  color: whitesmoke;

  font-size: 2vw;
}
.headerLink:hover {
  background-color: #2827cc;
  color: whitesmoke;
}
.active {
  background-color: #2827cc;
  color: whitesmoke;
}

@media only screen and (max-width: 700px) {
  .headerLink {
    font-size: 3vw;
  }
}
